<!-- home.html -->
{% extends 'base.html' %}
 
{% block title %}Home{% endblock %}
 
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-0">Welcome!</h1>
        </div>
        <div class="card-body">
            <p>Welcome to the student management platform! <br>
                Use the navigation bar to browse students and courses, add new entries, and manage existing ones.</p>
            </p>
        </div>
    </div>
</div>
{% endblock %}
